.App{
  min-width: 100vw;
  width: fit-content;
  min-height: 100vh;
  height: fit-content;
  background-color: var(--dark-blue);
}
.MainFlex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}
.MainFlex-Left{
  display: flex;
  flex-direction: column;
}
.MainFlex-Right{
  display: flex;
  flex-direction: column;
}
.Card {
  width: 448px;
  height: 320px;
  border-radius: 20px;
  margin: 24px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#firstCard{
  background-color: var(--dark-blue);
  font-family: Krona One;
  font-size: 91px;
  font-style: normal;
  font-weight: 400;
  line-height: 101.76px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white);
}
#firstCard-line{
  margin-top: 5px;
  width: 100%;
  height: 10px;
  border-radius: 15px;
  background-color: var(--light-blue);
}
.Card > h1{
  background-color: var(--dark-blue);
  font-family: Krona One;
  font-size: 91px;
  font-style: normal;
  font-weight: 400;
  line-height: 101.76px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white);
}
.Card > h2{
  width: 100%;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 100;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 3px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.Card > input{
  width: 90%;
  margin: 6px;
  border-style: none;
  color: var(--white);
  background-color: var(--dark-blue);
  border-radius: 16px;
  height: 40px;
  padding-left: 20px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.Card > button{
  margin-top: auto;
  margin-bottom: calc(5px + 10px);
  color: var(--white);
  background-color: var(--light-blue);
  border-radius: 16px;
  height: 40px;
  border-style: none;
  width: 189px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;  
}
.Card > button:hover{
  background-color: var(--light-blue-darker);
}
.Card > button:active {
  transform: translateY(2px);
}
.Card-Vote-MainFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: 10px;
}
.Card-Vote-MainFlex-Left{
  display: flex;
  flex-direction: row;
}
.Card-Vote-MainFlex > div > button{
  margin: 5px;
  color: var(--white);
  background-color: var(--light-blue);
  border-radius: 16px;
  width: 50%;
  height: 40px;
  border-style: none;
  width: 189px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;  
}
.Card-Vote-MainFlex > div  > button:hover{
  background-color: var(--light-blue-darker);
}
.Card-Vote-MainFlex > div  > button:active {
  transform: translateY(2px);
}
.Card-Vote-MainFlex-SelectedButton{
  background-color: var(--selected) !important;
}

.Card > p {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left; 
  width: 100%;
  padding-left: 50px;
  color: var(--error)
}

 .Card > .Success {
   font-family: Montserrat;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left; 
   width: 100%;
  padding-left: 50px;
  color: var(--selected);
}
.Card-MessageButton{
  background-color: var(--selected) !important;
}